dawa
backup
api/consumeAPI.py
api/wsgi.py
api/__pycache__
api/shared/__pycache__
Dawa_Pharma_API/__pycache__
pharma/__pycache__
pharma/migrations/__pycache__
pharma/migrations

Dawa_Pharma_API/settings.py
db.sqlite3

static/
staticfiles/
run_django.bat
run.py
.env
